.form {
    display: flex;
    flex-direction: column;
    padding: 2vmax;
    border: 3px solid lightblue;
    box-shadow: 1px 1px 5px;
    background-image: linear-gradient(white, rgba(40, 153, 218, 0.157));
    min-width: 40vw;
    position: relative;
    left:-25%;
    min-height: 50vh;
    margin-top: 10vh;
    box-sizing: border-box;
}

textarea {
    margin: 1vmax;
    margin-left: -0.5rem;
    font-size: 1.7rem;
    font-family: 'Times New Roman', Times, serif;
    min-height: 5vh;
    max-height: 15vh;
    max-width: 20vw;
}

.submit-button {
    float: right;
    margin-top: -1vh;
    min-height: 5vh;
    max-width: 5vw;
}

[hidden] {
    display: none;
}